
/*    CSS Reset     */
/*  Resource: https://piccalil.li/blog/a-modern-css-reset/  */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        transition-delay: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


a {
    text-decoration: none;
}

/*    End of CSS Reset     */



#app {
    min-height: 100vh;
}



.mobile-palette {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    inset: 0 0 0 auto;
    background: #24292e;
}


.m-main-color {
    cursor: pointer;
    transform: scale(1);
    transition: transfrom 1s ease-out;
}
.m-main-color:hover {
    transform: scale(1.2);
}

.center-grid {
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: #24292e55;
}

