
:root {
    --palette-width: 300px;
    --hex-grid-padding: 2.5rem;
    --hex-width: 2.5rem;
    --s: 100px;  /* size  */
    --m: 4px;   /* margin */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div#palette {
    height: var(--palette-width);
    width: var(--palette-width ) ;
    position: absolute;

    transition: transform 500ms ease-out;
}
svg.color {
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}
body {
    background: #24292e;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.color:hover {
    transform: scale(1.5);
}
.outer {
    z-index: -1;
    height: 400px;
    width: 400px;
    display:flex;
    --s: 55px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
    transform: scale(0);

    transition: transform 500ms ease-in-out;
}

#hex-grid {
    width: inherit;
    height: inherit;
    align-items: center;
    font-size: 0; /* disable white space between inline block element */
    transform: translate(11%, 12.5%) ;


}

#hex-grid div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    background: #a0ffff;
    display: none;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);


    transition: transform 500ms ease-in-out;
}

#hex-grid::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}


#hex-grid div:is(:nth-last-child(3), :first-of-type ) {
    margin-left: calc(var(--s) + (var(--m) * 3))
}

.active-color {
    transform: scale(2);
}

