*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}


.palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1rem;
}

.color {
 width: 100px;
 height: 100px;
    display: grid;
    place-items: center;
}

.copyBtn {
    font-weight: 600;
    align-items: center;
    text-align: center ;
    border: none;
    border-radius: .5em;
    cursor: pointer;

}

::-webkit-scrollbar {
    width: .5rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #151515;
    border-radius: 100vh;
}