:root {
    --palette-padding: 1rem ;
    --palette-diamiter: 400;
    --palette-radius: 200;

    --hex-width: 30px;
    --hex-grid-padding: 2rem;

}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

#app {
    min-height: inherit;
}

#palette {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0);

    transition: transform 500ms ease-in-out;
}

.colors {
    position: absolute;
    border-radius: 50%;


    transition: transform 0.2s ease;
}

.colors:hover {
    transform: scale(1.5);
}
.active-color {
    transform: scale(1.5);
}
#grids {
    position: absolute;
    min-height: inherit;
    width: 100%;
}

.hex-grid {
    position: absolute;
    display: grid;
    place-items: center;
    left: 50%;
    top: 50%;
    background: #04050a55;
    border-radius: 50%;

    transform: translate(-50%, -50%) rotate(0);

}

.inner {
    width: 50%;
    height: 50%;
    align-items: center;
    font-size: 0; /* disable white space between inline block element */
}

.hex-tile {
    display: inline-block;
    width: var(--hex-width) ;
    height: var(--hex-width) ;
    background: #a0ffff;
}


